{% extends 'basic.html' %}

{% block title %} e-kisan {% endblock%}

{% block css %}
<style>
.cont{
    background-color: #adfdf0;
}
</style>

{% endblock%}

{% load static %}
{% block body %}
<div class="cont">
<div class="container text-center">
    <div class="font-weight-bold  u-custom-font u-font-Lobster u-text u-text-1" ">
        <br><br>
        <h2>Our Team</h2>
    </div>
    <div class="mt-5">
        Individual commitment to a&nbsp;<b>group</b>&nbsp;effort--that is what makes a&nbsp;<b>team</b>&nbsp;work, a company work, a society work, a civilization work.&nbsp;
    </div>
</div>

<div class="container mt-5 pb-5">
    <div class="row mr-1  ">
      <div class="col-sm mt-3">
        <div class="card rounded bg-light mt-5 pt-5 pl-5" style="height: 300px;width: 300px;">
            <img class="card-img-top rounded-circle" style="height: 190px;width: 190px;" src="{% static 'images/yamini.jpg' %}" alt="Card image cap">
            <div class="card-body">
                <h4>Samradhni Patil</h4>
            </div>
          </div>
      </div>
      <div class="col-sm mt-3">
        <div class="card rounded bg-light mt-5 pt-5 pl-5" style="height: 300px;width: 300px;">
            <img class="card-img-top rounded-circle" style="height: 190px;width: 190px;" src="{% static 'images/shivani.jpg' %}" alt="Card image cap">
            <div class="card-body">
              <h4>Shivani Patil</h4>
            </div>
          </div>
      </div>
      <div class="col-sm mt-3">
        <div class="card rounded bg-light mt-5 pt-5 pl-5" style="height: 300px;width: 300px;">
            <img class="card-img-top rounded-circle" style="height: 190px;width: 190px;" src="{% static 'images/sam.jpg' %}" alt="Card image cap">
            <div class="card-body">
            <h4>Yamini Barhate</h4>
            </div>
          </div>
      </div>
    </div>
  </div>

</div>



{% endblock%}
