{% extends 'basic.html' %}

{% block title %} e-kisan {% endblock%}

{% load static %}
{% block css %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap" rel="stylesheet">
    <style>
        body,
        html {
            height: 100%;
            width:100%;
<!--            background-image: url("{% static 'images/AddItem/farmer_shadow.jpg'%}");-->
            background-repeat: no-repeat;
            background-size: 100% 65%;
            /* margin-top: 50px; */
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            font-family: Poppins-Regular, sans-serif;
        }

        /*---------------------------------------------*/
        a {
            font-family: Poppins-Regular;
            font-size: 14px;
            line-height: 1.7;
            color: #666666;
            margin: 0px;
            transition: all 0.4s;
            -webkit-transition: all 0.4s;
            -o-transition: all 0.4s;
            -moz-transition: all 0.4s;
        }

        a:focus {
            outline: none !important;
        }

        a:hover {
            text-decoration: none;
            color: rgba(89, 109, 102, 0.8);
        }

        /*---------------------------------------------*/
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 0px;
        }

        p {
            font-family: Poppins-Regular;
            font-size: 14px;
            line-height: 1.7;
            color: #666666;
            margin: 0px;
        }

        ul,
        li {
            margin: 0px;
            list-style-type: none;
        }


        /*---------------------------------------------*/
        input {
            outline: none;
            border: none;
        }

        textarea {
            outline: none;
            border: none;
        }

        textarea:focus,
        input:focus {
            border-color: transparent !important;
        }


        input::-webkit-input-placeholder {
            /* color: rgba(255, 255, 255, 0.8); */
            color: rgb(110, 108, 108);
            font-weight: bold;
        }

        input:-moz-placeholder {
            /* color: rgba(255, 255, 255, 0.8); */
            color: rgba(89, 109, 102, 0.8);
            font-weight: bold;
        }

        input::-moz-placeholder {
            /* color: rgba(255, 255, 255, 0.8); */
            color: rgba(89, 109, 102, 0.8);
            font-weight: bold;
        }

        input:-ms-input-placeholder {
            /* color: rgba(255, 255, 255, 0.8); */
            color: rgba(89, 109, 102, 0.8);
            font-weight: bold;
        }

        textarea::-webkit-input-placeholder {
            /* color: rgba(255, 255, 255, 0.8); */
            color: rgba(89, 109, 102, 0.8);
            font-weight: bold;
        }

        textarea:-moz-placeholder {
            /* color: rgba(255, 255, 255, 0.8); */
            color: rgba(89, 109, 102, 0.8);
            font-weight: bold;
        }

        textarea::-moz-placeholder {
            /* color: rgba(255, 255, 255, 0.8); */
            color: rgba(89, 109, 102, 0.8);
            font-weight: bold;
        }

        textarea:-ms-input-placeholder {
            /* color: rgba(255, 255, 255, 0.8); */
            color: rgba(89, 109, 102, 0.8);
            font-weight: bold;
        }

        /*---------------------------------------------*/
        button {
            outline: none !important;
            border: none;
            background: transparent;
        }

        button:hover {
            cursor: pointer;
        }

        iframe {
            border: none !important;
        }

        .bg-contact3 {
            width: 100%;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }

        .container-contact3 {
            width: 450px;
            height: 500px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            flex-wrap: wrap;
            margin-left: 200px;
            margin-top: 80px;
            align-items: center;
            padding: 15px;
            background: transparent;

        }

        .wrap-contact3 {
            width: 400px;
            height: 550px;
            box-shadow: 2px 2px gray;
            margin-bottom: 10px;
            background-color: #28d1a4;
            border-radius: 10px;
            overflow: hidden;
            padding: 72px 55px 65px 55px;
        }


        /*------------------------------------------------------------------
[  ]*/

        .contact3-form {
            width: 100%;
        }

        .contact3-form-title {
            display: block;
            font-family: Poppins-Bold;
            font-size: 39px;
            color: #fff;
            line-height: 1.2;
            text-align: center;
            text-transform: uppercase;
            padding-bottom: 70px;
        }



        /*------------------------------------------------------------------
[  ]*/
        .wrap-input3 {
            width: 100%;
            position: relative;
            border-bottom: 2px solid rgba(89, 109, 102, 0.24);
            /* margin-bottom: 27px; */
        }

        .input3 {
            display: block;
            width: 100%;
            background: #28d1a4;
            font-weight: bold;
            font-family: Poppins-Regular;
            font-size: 19px;
            color: rgba(0, 0, 0, 0.7);
            line-height: 1.2;
            padding: 0 5px;
        }

        .focus-input3 {
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            pointer-events: none;
        }

        .focus-input3::before {
            content: "";
            display: block;
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 0;
            height: 2px;

            -webkit-transition: all 0.4s;
            -o-transition: all 0.4s;
            -moz-transition: all 0.4s;
            transition: all 0.4s;

            background: #fff;
        }


        /*---------------------------------------------*/
        input.input3 {
            height: 45px;
        }


        textarea.input3 {
            min-height: 115px;
            padding-top: 13px;
            padding-bottom: 13px;
        }


        .input3:focus+.focus-input3::before {
            width: 100%;
        }

        .has-val.input3+.focus-input3::before {
            width: 100%;
        }

        /*------------------------------------------------------------------
[  ]*/
        .container-contact3-form-btn {
            padding-top: 23px;
        }

        .contact3-form-btn {
            font-family: Poppins-Medium;
            font-size: 16px;
            color: #555555;
            line-height: 1.2;
            border-bottom: none;
            text-transform: uppercase;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 15px;
            min-width: 120px;
            height: 45px;
            border-radius: 8px;
            position: relative;
            z-index: 1;
            -webkit-transition: all 0.4s;
            -o-transition: all 0.4s;
            -moz-transition: all 0.4s;
            transition: all 0.4s;
        }

        .contact3-form-btn::before {
            content: "";
            display: block;
            position: absolute;
            z-index: -1;
            border-radius: 8px;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgb(255, 255, 255);
            opacity: 1;
            -webkit-transition: all 0.4s;
            -o-transition: all 0.4s;
            -moz-transition: all 0.4s;
            transition: all 0.4s;
        }

        .contact3-form-btn:hover {
            color: rgb(114, 226, 174);
            background-color: rgb(193, 201, 198);
        }

        /* .contact3-form-btn:hover:before {
            opacity: 0;
        } */

        /*------------------------------------------------------------------
[ Responsive ]*/

        @media (max-width: 576px) {
            .wrap-contact3 {
                padding: 72px 15px 65px 15px;
            }
        }



        /*------------------------------------------------------------------
[ Alert validate ]*/

        .validate-input {
            position: relative;
        }

        /*
[ Input3 select ]*/

        .input3-select {
            display: none;
        }

        #label {
            color: rgba(0, 0, 0, 0.8);
            font-weight: bold;
        }

        #head {
            color: rgba(0, 0, 0, 0.7);
            font-size: 30px;
            justify-content: center;
            font-weight: bold;
            padding-left: 50px;
        }
        #head1 {
            color: rgba(0, 0, 0, 0.7);
            font-size: 30px;
            justify-content: center;
            text-align:center;
            font-weight: bold;
            padding-left: 100px;
        }

        #vegname {
            height: 30px;
            background-color: #fffefe;
            width: 200px;
            color: rgb(117, 117, 117);
            font-weight: bold;
            border-radius: 10px;
            border-color: #c5bfbf;
        }

        #customers {

            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 60%;
            margin-left: 280px;
            margin-right: 2%;
            align-items: top;
            border-top-right-radius: 8px;
            padding-bottom: 100px;
        }

        #customers td, th {
            border: 1px solid #7f948e;
            padding: 8px;
            text-align:center;
        }

        #customers tr:nth-child(even) {
            background-color: #62caae;
        }

        #customers tr:nth-child(odd) {
            background-color: #eff5f5;
        }

        #customers tr:hover {
            background-color: rgb(217, 228, 240);
        }

        #customers th {
            text-align:center;
            background-color: #28d1a4;
            color: rgb(255, 255, 255);
        }

        #myFile {
            color: rgba(89, 109, 102, 0.8);
            border-color: rgba(89, 109, 102, 0.8);
        }
        @keyframes type {
            0% {
                width: 0;
            }

            99.9% {
                border-right: .10em solid rgb(39, 38, 36);
            }

            100% {
                border: none;
            }
        }

        @-webkit-keyframes type {
            0% {
                width: 0;
            }

            99.9% {
                border-right: .10em solid rgb(39, 38, 36);
            }

            100% {
                border: none;
            }
        }

        @keyframes type2 {
            0% {
                width: 0;
            }

            1% {
                opacity: 1;
            }

            99.9% {
                border-right: .10em solid rgb(39, 38, 36);
            }

            100% {
                opacity: 1;
                border: none;
            }
        }

        @-webkit-keyframes type2 {
            0% {
                width: 0;
            }

            1% {
                opacity: 1;
            }

            99.9% {
                border-right: .10em solid rgb(39, 38, 36);
            }

            100% {
                opacity: 1;
                border: none;
            }
        }

        @keyframes type3 {
            0% {
                width: 0;
            }

            1% {
                opacity: 1;
            }

            99.9% {
                border-right: .10em solid rgb(39, 38, 36);
            }

            100% {
                opacity: 1;
                border: none;
            }
        }

        @-webkit-keyframes type3 {
            0% {
                width: 0;
            }

            1% {
                opacity: 1;
            }

            99.9% {
                border-right: .10em solid rgb(39, 38, 36);
            }

            100% {
                opacity: 1;
                border: none;
            }
        }

        @keyframes type4 {
            0% {
                width: 0;
            }

            1% {
                opacity: 1;
            }

            99.9% {
                border-right: .10em solid rgb(39, 38, 36);
            }

            100% {
                opacity: 1;
                border: none;
            }
        }

        @-webkit-keyframes type4 {
            0% {
                width: 0;
            }

            1% {
                opacity: 1;
            }

            99.9% {
                border-right: .10em solid rgb(39, 38, 36);
            }

            100% {
                opacity: 1;
                border: none;
            }
        }

        @keyframes type5 {
            0% {
                width: 0;
            }

            1% {
                opacity: 1;
            }

            100% {
                opacity: 1;
            }
        }

        @-webkit-keyframes type5 {
            0% {
                width: 0;
            }

            1% {
                opacity: 1;
            }

            100% {
                opacity: 1;
            }
        }

        @keyframes blink {
            50% {
                border-color: transparent;
            }
        }

        @-webkit-keyframes blink {
            50% {
                border-color: transparent;
            }
        }

        .tablecss {
            margin-top: -630px;
            margin-left: 160px;
        }




        #hiw-block {
            padding-left: 160px;
            margin-top: -40px;
        }

        #hiw-block-p1 {
            color: rgb(5, 90, 90);
            font-weight: bold;
            font-size: 30px;
            font-family: cursive;
        }

        #hiw-block-p2 {
            color: rgb(115, 117, 117);
            /* padding-left: 20px; */
            font-size: 20px;
        }

        #hiw-block-p3 {
            color: #055a5a;
            font-weight: bold;
            padding-left: 30px;
            font-size: 30px;
            font-family: cursive;
        }

        #hiw-block-p4 {
            color: rgb(115, 117, 117);
            padding-left: 30px;
            font-size: 20px;
        }

        #tableouter1 {
            background-color: rgba(240, 236, 236, 0.6);
            border-radius: 18px;
            width: 700px;
            box-shadow: 2px 2px rgb(173, 170, 170);
        }

        #tableouter2 {
            background-color: rgba(240, 236, 236, 0.6);
            border-radius: 18px;
            width: 700px;
            box-shadow: 2px 2px rgb(173, 170, 170);
        }

        .header ul {
            list-style-type: none;
            /* margin: 0; */
            margin-top: -40px;
            padding: 0;
            overflow: hidden;
            background-color: rgb(248, 245, 245);
            height: 80px;
        }

        .header li {
            float: left;
        }

        .header li a {
            display: block;
            color: rgb(48, 47, 47);
            font-size: 23px;
            /* padding-top: 20px; */
            /* padding-left: 30px; */
            /* font-weight: bold; */
            text-align: center;
            padding: 15px 35px;
            text-decoration: none;
        }

<!--        .header li a:hover {-->
<!--            background-color: rgba(0, 0, 0, 0.3);-->
<!--            color: azure;-->
<!--        }-->
         #textcss:hover {
            background-color: rgba(0, 0, 0, 0.3);
            color: azure;
        }
        #textcss1:hover {
            background-color: rgba(0, 0, 0, 0.3);
            color: azure;
        }
        #textcss2:hover {
            background-color: rgba(0, 0, 0, 0.3);
            color: azure;
        }

        #logoimg {
            margin-top: -50px;
            margin-right: -40px;
            height: 190px;
            width: 200px;
            margin-left: -10px;
            background-color: transparent;
        }

        #textcss {
            margin-top: 10px;
            margin-left: -30px;
            /* font-size: 30px; */
        }

        #textcss1 {
            margin-top: 10px;
            margin-left: -30px;
            /* font-size: 30px; */
        }

        #textcss2 {
            margin-top: 10px;
            margin-left: -30px;
            /* <!--            padding-left:px--> */
            /* font-size: 30px; */
        }

        .gtrans {
            margin-left: 30%;
        }

        .container1 {
            max-width: 100%;
            margin: auto;

        }

        .row1 {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .footer {
            position: absolute;

            left: 0;
            background: #000;
            color: #8a8a8a;
            font-size: 14px;
            padding: 60px 0 10px;
<!--            margin-right: -20px;-->
<!--            margin-top: -40px;-->
        }

        .footer p {
            color: #8a8a8a;

        }

        .footer-col-1,
        .footer-col-2,
        .footer-col-3,
        .footer-col-4 {
            min-width: 400px;
            height: 250px;
            margin-bottom: 20px;
        }

        .footer-col-1 {
            flex-basis: 30%;
            margin-left: 30px;

        }

        .footer-col-1 img {
            width: 150px;
            margin-left: 110px;

        }

        .footer-col-1 p {

            margin-left: 150px;
            color: #3B9C9C;
        }

        .footer-col-2 {
            flex: 1;
            margin-left: 15px;

        }

        .footer-col-2 input {

            border: 1px solid #3B9C9C;
            padding: 10px;
            width: 77%;
            border-radius: 18px;
            background-color: black;
            color: #8a8a8a;
        }

        .footer-col-2 textarea {
            border: 1px solid #3B9C9C;
            border-radius: 18px;
            text-align: center;
            width: 77%;
            color: #8a8a8a;
            background-color: black;


        }

        .btn-primary {
            box-shadow: none !important;
            border: none;
            border-radius: 25px;
            margin-top: 5px;
            padding: 10px;
            background-color: #3B9C9C;
            width: 110px;


        }

        .footer-col-3 {
            flex-basis: 12%;
            margin-left: 30px;
            text-align: left;
        }

        .footer-col-3 .fa {

            margin-right: 8px;
            font-size: 25px;
            height: 40px;
            width: 40px;
            text-align: center;
            padding-top: 7px;
            color: #3B9C9C;
            background-color: black;
        }

        /*to remove bullet style*/
        ul {
            list-style-type: none;
        }

        .copyright {
            text-align: center;

        }

        /*----------social media--------------*/
        .social-media {
            width: 100%;
            text-align: left;

        }

        .social-media ul {
            list-style: none;
        }

        .social-media ul li {
            display: inline-block;
            cursor: pointer;
        }

        .social-media img {
            width: 40px;
            height: 40px;
            border-radius: 35px;
        }


<!--        onload login page css-->



    *,
      *:before,
      *:after {
         margin: 0;
         padding: 0;
         box-sizing: border-box;
         font-family: 'Nunito', sans-serif;
      }

      /*-------------for popup------*/
      .show-btn {
         background: #fff;
         padding: 10px 20px;
         font-size: 20px;
         font-weight: 500;
         color: #243313;
         cursor: pointer;
         /*box-shadow: 0px 0px 10px rgba(0,0,0,0.1);*/
      }

      .show-btn {
         position: absolute;
         top: 70%;
         left: 50%;
         transform: translate(-50%, -50%);
      }

      #inputid[type="checkbox"] {
         display: none;
      }
      #inputid1[type="checkbox"] {
         display: none;
      }

      #show:checked~.cont {
         display: block;
      }

      /*----------------------------*/
      #inputid {
         border: none;
         outline: none;
         background: none;
      }
      #inputid1 {
         border: none;
         outline: none;
         background: none;
      }

      .cont {
         /*display:none;*/
         overflow: hidden;
         position: relative;
         width: 1550px;
         height: 750px;
         align-items: center;
         background: #fff;
         box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
      }

      .cont .sub-cont .close-btn {
         position: absolute;
         right: 20px;
         top: 15px;
         font-size: 25px;
         cursor: pointer;
      }

      .close-btn:hover {
         color: red;
      }

      #formid {
         position: relative;
         width: 640px;
         height: 100%;
         padding: 50px 30px;
         -webkit-transition: -webkit-transform 1.2s ease-in-out;
         transition: -webkit-transform 1.2s ease-in-out;
         transition: transform 1.2s ease-in-out;
         transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
      }

      #h2 {
         width: 100%;
         font-size: 30px;
         text-align: center;
      }

      .label {
         display: block;
         width: 260px;
         margin: 25px auto 0;
         text-align: center;
      }

      .labelspan {
         font-size: 14px;
         font-weight: 600;
         color: #505f75;
         text-transform: uppercase;
      }

      #inputid {
         display: block;
         width: 100%;
         margin-top: 5px;
         font-size: 16px;
         padding-bottom: 5px;
         border-bottom: 1px solid rgba(109, 93, 93, 0.4);
         text-align: center;
         font-family: 'Nunito', sans-serif;
      }
      #inputid1 {
         display: block;
         width: 100%;
         margin-top: 5px;
         font-size: 16px;
         padding-bottom: 5px;
         border-bottom: 1px solid rgba(109, 93, 93, 0.4);
         text-align: center;
         font-family: 'Nunito', sans-serif;
      }
      #inputid3 {
         display: block;
         width: 100%;
         margin-top: 5px;
         font-size: 16px;
         padding-bottom: 5px;
         border-bottom: 1px solid rgba(109, 93, 93, 0.4);
         text-align: center;
         font-family: 'Nunito', sans-serif;
      }

      #submitid {
         display: block;
         margin: 0 auto;
         width: 260px;
         height: 36px;
         margin-top:20px;
         border-radius: 30px;
         color: #fff;
         font-size: 15px;
         cursor: pointer;
      }
      #submitid1 {
         display: block;
         margin: 0 auto;
         width: 260px;
         height: 36px;
         border-radius: 30px;
         color: #fff;
         font-size: 15px;
         cursor: pointer;
      }

      .submit {
         margin-top: 40px;
         margin-bottom: 30px;
         text-transform: uppercase;
         font-weight: 600;
         font-family: 'Nunito', sans-serif;
         background: -webkit-linear-gradient(left, #76A63F, #243313);
      }

      .submitback {
         /* margin-top: 40px; */
         margin-bottom: 30px;
         width: 120px;
         text-transform: uppercase;
         font-weight: 600;
         font-family: 'Nunito', sans-serif;
         background: -webkit-linear-gradient(left, #76A63F, #243313);
      }

      .submit:hover {
         background: -webkit-linear-gradient(left, #243313, #76A63F);
      }

      .forgot-pass {
         margin-top: 15px;
         text-align: center;
         font-size: 14px;
         font-weight: 600;
         color: #0c0101;
         cursor: pointer;
      }

      .forgot-pass:hover {
         color: red;
      }

      .social-media {
         width: 100%;
         text-align: center;
         margin-top: 20px;
      }

      .social-media ul {
         list-style: none;
      }

      .social-media ul li {
         display: inline-block;
         cursor: pointer;
         margin: 25px 15px;
      }

      .social-media img {
         width: 40px;
         height: 40px;
      }

      .sub-cont {
         overflow: hidden;
         position: absolute;
         left: 640px;
         top: 0;
         width: 600px;
         height: 100%;
         padding-left: 260px;
         background: #fff;
         -webkit-transition: -webkit-transform 1.2s ease-in-out;
         transition: -webkit-transform 1.2s ease-in-out;
         transition: transform 1.2s ease-in-out;
      }

      .cont.s-signup .sub-cont {
         -webkit-transform: translate3d(-640px, 0, 0);
         transform: translate3d(-640px, 0, 0);
      }

      .img {
         overflow: hidden;
         z-index: 2;
         position: absolute;
         left: 0;
         top: 0;
         width: 260px;
         height: 100%;
         padding-top: 360px;
      }

      .img:before {
         content: '';
         position: absolute;
         right: 0;
         top: 0;
         width: 600px;
         height: 100%;
         background-image: url(images/image4.jpg);
         background-size: cover;
         transition: -webkit-transform 1.2s ease-in-out;
         transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
      }

      .img:after {
         content: '';
         position: absolute;
         left: 0;
         top: 0;
         width: 100%;
         height: 100%;
         background: rgba(0, 0, 0, 0.3);
      }

      .cont.s-signup .img:before {
         -webkit-transform: translate3d(640px, 0, 0);
         transform: translate3d(640px, 0, 0);
      }

      .img-text {
         z-index: 2;
         position: absolute;
         left: 0;
         top: 50px;
         width: 100%;
         padding: 0 20px;
         text-align: center;
         color: #fff;
         -webkit-transition: -webkit-transform 1.2s ease-in-out;
         transition: -webkit-transform 1.2s ease-in-out;
         transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
      }

      .img-text h2 {
         margin-bottom: 10px;
         font-weight: normal;
      }

      .img-text p {
         font-size: 14px;
         line-height: 1.5;
      }

      .cont.s-signup .img-text.m-up {
         -webkit-transform: translateX(520px);
         transform: translateX(520px);
      }

      .img-text.m-in {
         -webkit-transform: translateX(-520px);
         transform: translateX(-520px);
      }

      .cont.s-signup .img-text.m-in {
         -webkit-transform: translateX(0);
         transform: translateX(0);
      }


      .sign-in {
         padding-top: 65px;
         -webkit-transition-timing-function: ease-out;
         transition-timing-function: ease-out;
      }

      .cont.s-signup .sign-in {
         -webkit-transition-timing-function: ease-in-out;
         transition-timing-function: ease-in-out;
         -webkit-transition-duration: 1.2s;
         transition-duration: 1.2s;
         -webkit-transform: translate3d(640px, 0, 0);
         transform: translate3d(640px, 0, 0);
      }

      .img-btn {
         overflow: hidden;
         z-index: 2;
         position: relative;
         width: 100px;
         height: 36px;
         margin: 0 auto;
         background: transparent;
         color: #fff;
         text-transform: uppercase;
         font-size: 15px;
         cursor: pointer;
      }

      .img-btn:after {
         content: '';
         z-index: 2;
         position: absolute;
         left: 0;
         top: 0;
         width: 100%;
         height: 100%;
         border: 2px solid #fff;
         border-radius: 30px;
      }

      .img-btn span {
         position: absolute;
         left: 0;
         top: 0;
         display: -webkit-box;
         display: flex;
         -webkit-box-pack: center;
         justify-content: center;
         align-items: center;
         width: 100%;
         height: 100%;
         -webkit-transition: -webkit-transform 1.2s;
         transition: -webkit-transform 1.2s;
         transition: transform 1.2s;
         transition: transform 1.2s, -webkit-transform 1.2s;
         ;
      }

      .img-btn span.m-in {
         -webkit-transform: translateY(-72px);
         transform: translateY(-72px);
      }

      .cont.s-signup .img-btn span.m-in {
         -webkit-transform: translateY(0);
         transform: translateY(0);
      }

      .cont.s-signup .img-btn span.m-up {
         -webkit-transform: translateY(72px);
         transform: translateY(72px);
      }

      .sign-up {
         padding-top: 1px;
         -webkit-transform: translate3d(-900px, 0, 0);
         transform: translate3d(-900px, 0, 0);
      }

      .cont.s-signup .sign-up {
         -webkit-transform: translate3d(0, 0, 0);
         transform: translate3d(0, 0, 0);
      }
      #formbg {
         position: absolute;
         margin-left: 450px;
         width: 600px;
         height: 680px;
         align-items: center;
         background: #fff;
         box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
      }
      .tabledata {
         color:gray;
         font-size: 15px;
      }
      .bgcart {
			background-color:none;
		}
		.bgcart:hover {
			background-color:none;
		}
		.cartimg {
			margin-top:-5px;
			margin-left: -5px;
			width: 55px;
		    height: 55px;
		    border-radius: 100px;
		}
		.pick {
			background-color:none;
		}
		.pick:hover {
			background-color:none;
			cursor: pointer;
		}
		.pickup {
			margin-top: -5px;
			margin-left: 30px;
			width: 80px;
		    height: 55px;
		}
		.btn-cancel {
         background-color: #fff;
         margin-left: 1330px;
         margin-top: 20px;
         width: 20px;
         height: 20px;
      }
      .pickmeup {
         border: 2px;
         display: none;
         background-color: rgba(0,0,0,0.8);
         height: 600px;
         width: 1400px;
         border-radius: 10px;
         position: absolute;
         left: 60px;
         top: 100px;
         z-index: 9;
      }
      .block-popup1 {
         border: 2px;
         display: none;
         box-shadow: 2px 2px gray;
         background-color: #28d1a4;
         border-radius: 10px;
         width: 350px;
         height: 400px;
         padding: 20px 15px 65px 15px;
         position: relative;
         left: 780px;
         top: -10px;
         z-index: 9;
      }
      .btn-cancel {
         background-color: #fff;
         margin-left: 300px;
         margin-top: 20px;
         width: 20px;
         height: 20px;
      }
      .btn-edit{
        height:20px;
        width:20px;
      }

     </style>
    <script language="JavaScript">
        function clear(){
        var form = document.getElementById("addform");
        form.target.reset();
        }

        function showInput() {
            document.getElementById('displayname').innerHTML = document.getElementById("vegname").value;
            document.getElementById('displayquant').innerHTML = document.getElementById("vegquant").value;
        }
    </script>
{%endblock%}

{%block body%}
    <br><br><br><br>
    <div class="container-contact3"></div>
    <table border="0" class="tablecss">
        <tr>
            <td>
                <div class="wrap-contact3">
                    <form onsubmit="return clear()" action="/additem/" method="post" id="addform">
                      {% csrf_token%}
                        <label id=head>Add Items</label><br>
                        <br><select id="vegname" class="selection-2" name="Item Name" required>
                            <option value="">Select product name</option>
                            <option value="Apple">Apple</option>
                            <option value="Bellpeper">Bellpeper</option>
                            <option value="Cauliflower">Cauliflower</option>
                            <option value="Carrot">Carrot</option>
                            <option value="Cucumber">Cucumber</option>
                            <option value="Peas">Peas</option>
                            <option value="Potato">Potato</option>
                            <option value="Tomato">Tomato</option>
                            <option value="Rice">Rice</option>
                            <option value="Wheat">Wheat</option>

                        </select><br>
                        <span class="focus-input3"></span>
                        <!-- </div> -->
                       <br>
                        <div class="wrap-input3 validate-input">
                            <input id="vegprice" class="input3" type="text" name="price" placeholder="Price/Kg(rs)" required>

                            <span class="focus-input3"></span>
                        </div><br>

                        <div class="wrap-input3 validate-input">
                            <input id="vegquant" class="input3" type="text" name="Quantity" placeholder="Quantity(Max)" required>

                            <span class="focus-input3"></span>
                        </div><br>

                        <label id="label">Upload Image of product:</label>
                        <div data-validate="Message is required" autocomplete="off">
                            <br><input id="vegimage" type="file" name="filename" accept="image/*" required="required">
                            <input type="hidden" name="url" id="url">
                            <img id="image"/>
                            <br><br>
                            <button type="button" onClick="uploadImage()" class="contact3-form-btn" required="required">Upload Img</button>

                            <span class="focus-input3"></span>
                        </div>
                        <br>
                        <input type="submit" value="Submit" class="contact3-form-btn" onsubmit="showInput(); clearfields()" name="additem">
                    </form>
                </div>
            </td>
            <td>
                <div id='hiw-block'>
                    <table id='tableouter1'>
                        <tr>
                            <td><img src="{% static 'images/AddItem/one.png' %}" style="height: 60%; width: 80%"></td>
                            <td>
                                <p id='hiw-block-p1'>Farmer</p><br>
                                <p id='hiw-block-p2'>Sell your product directly to consumer<br> witout involvement of
                                    agent</p>
                            </td>
                        </tr>
                    </table>
                    <br><br>
                    <hr style="width: 700px; justify-self:'center';">
                    <br><br>
                    <table id='tableouter2'>
                        <tr>
                            <td><img src="{% static 'images/AddItem/two.png' %}" style="height: 60%; width: 80%"></td>
                            <td>
                                <p id='hiw-block-p3'>Consumer</p><br>
                                <p id='hiw-block-p4'> Purchase fresh fruits and Vegetables directly <br>from farmers</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
    <div id="bottom">
        <br><br>
        <hr>
        <h3 id="bask">
            <center>Your Basket</center>
        </h3>
        <div class="block-popup1" id="toedit">
            <button type="button" class="btn-cancel" onclick="closeForm1()">&times;</button>
            <form onsubmit="return clear()" action="/edititem/" method="post" id="editform">
              {% csrf_token%}
                <label id=head1>Edit Items</label><br>
                <div class="wrap-input3 validate-input">
                    <input id="proid" class="input3" type="text" name="proid" placeholder="Product ID" required>
                    <span class="focus-input3"></span>
                </div><br>
                <div class="wrap-input3 validate-input">
                    <input class="input3" type="text" name="price" placeholder="Price/Kg(rs)" required>
                    <span class="focus-input3"></span>
                </div><br>
                <div class="wrap-input3 validate-input">
                    <input class="input3" type="text" name="Quantity" placeholder="Quantity(Max)" required>
                    <span class="focus-input3"></span>
                </div><br>
                <input type="submit" value="Submit" class="contact3-form-btn" onsubmit="showInput(); clearfields()" name="additem">
            </form>
        </div>
        <table id="customers">
            <tr>
                <th>Product Id</th>
                <th>Name Of veg</th>
                <th>Quantity</th>
                <th>Price / kg</th>
                <th>To Edit</th>
            </tr>
            {% for key, d in det.items %}
                <tr>
                    <td><h3 class="tabledata" >{{ d.proid }}</h3></td>
                    <td><h3 class="tabledata" >{{ d.Product_name }}</h3></td>
                    <td><h3 class="tabledata" >{{ d.Quantity }}</h3></td>
                    <td><h3 class="tabledata" >{{ d.Price }}</h3></td>
                    <td><button class='class="btn btn-info btn-lg"' onclick="edit()"><span style="width:40px" class="glyphicon glyphicon-pencil"></span></button></td>
                </tr>
            {% endfor %}
        </table>
    </div>
<script>
      function edit() {
         document.getElementById("toedit").style.display = "block";
      }
      function closeForm1() {
         document.getElementById("toedit").style.display = "none";
      }
   </script>

<script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-database.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-storage.js"></script>
<script>
var firebaseConfig = {
    apiKey: "AIzaSyDztSthRiZSB6XTlhhD_i-8KT8RJ3DyM3Y",
    authDomain: "efarming-7d78e.firebaseapp.com",
    databaseURL: "https://efarming-7d78e-default-rtdb.firebaseio.com",
    projectId: "efarming-7d78e",
    storageBucket: "efarming-7d78e.appspot.com",
    messagingSenderId: "790177229471",
    appId: "1:790177229471:web:6c118d22fb64cd8d6010aa"
  };
  firebase.initializeApp(firebaseConfig);
  console.log(firebase)

// Get a reference to the storage service, which is used to create references in your storage bucket
    function uploadImage(){

        var storage = firebase.storage();

        var file = document.querySelector("#vegimage").files[0];
        const name = file.name;
        var storageRef = storage.ref();
        var thisref = storageRef.child(name).put(file);
        thisref.on('state_changed',function(snapshot){

        console.log("file uploaded successfully");
        },
        function(error){

        },
       function(){
       // Upload completed successfully, now we can get the download URL
       thisref.snapshot.ref.getDownloadURL().then((downloadURL) => {
      console.log('File available at', downloadURL);
      console.log("got url");
      document.getElementById("url").value = downloadURL ;
      alert("file uploaded successfully")
    });

  })
  }
</script>
{% endblock%}
