{% extends 'basic.html' %}
{% block title %} e-kisan {% endblock%}
{% load static %}
{% block css %}
    <link rel="icon" href="{% static 'images/mainlogo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/demo.css' %} ">
	<link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,700' rel='stylesheet' type='text/css' />
	<script type="text/javascript" src="{% static 'js/modernizr.custom.79639.js' %}"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
		integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
		crossorigin="anonymous" />
	<!--[if lte IE 8]><style>.main{display:none;} .support-note .note-ie{display:block;}</style><![endif]-->
	<style>
	body{
	background-image: url('{% static "images/buying/catbg.png" %}');
	}


	.ch-img-1 {
		background-image: url({% static 'images/buying/apples1.jpg' %});
	}

	.ch-img-2 {
		background-image: url({% static 'images/buying/peper.jpg'%});
	}

	.ch-img-3 {
		background-image: url({% static 'images/buying/carrot.jpg' %});
	}

	.ch-img-4 {
		background-image: url({% static 'images/buying/cauli2.jpg' %});
	}

	.ch-img-5 {
		background-image: url({% static 'images/buying/cucu2.jpg' %});
	}

	.ch-img-6 {
		background-image: url({% static 'images/buying/peas.jpg' %});
	}

	.ch-img-7 {
		background-image: url({% static 'images/buying/patato2.jpg' %});
	}

	.ch-img-8 {
		background-image: url({% static 'images/buying/tom.jpg' %});
	}

	.ch-img-9 {
		background-image: url("{% static 'images/buying/rice2.jpg' %}");
	}

	.ch-img-10 {
		background-image: url({% static 'images/buying/wheat.jpg' %});
	}



	.header ul {
            list-style-type: none;
            margin-top: -15px;
            padding: 0;
            overflow: hidden;
            background-color: rgb(248, 245, 245);
            height: 80px;
        }

        .header li {
            float: left;
        }
        .header li a {
            display: block;
            color: rgb(48, 47, 47);
            font-size: 23px;
            text-align: center;
            padding: 15px 35px;
            text-decoration: none;
        }
        #textcss:hover {
            background-color: rgba(0, 0, 0, 0.3);
            color: azure;
        }
        #textcss1:hover {
            background-color: rgba(0, 0, 0, 0.3);
            color: azure;
        }
        #textcss2:hover {
            background-color: rgba(0, 0, 0, 0.3);
            color: azure;
        }

		#logoimg {
            margin-top: -50px;
            margin-right: -40px;
            height: 190px;
            width: 200px;
            margin-left: -10px;
            background-color: transparent;
        }

        #textcss {
            margin-top: 10px;
            margin-left: -30px;
        }

        #textcss1 {
            margin-top: 10px;
            margin-left: -30px;
        }

        #textcss2 {
            margin-top: 10px;
            margin-left: -30px;
        }

        .gtrans {
            margin-left: 25%;
        }


	.filter-sections {
	width: 100%;
	display: block;
	overflow: hidden;
	margin-left: 60px;
	}

	.filter-sections img{
	width: 70%;
	display: block;
	overflow: hidden;
	margin-top: -40px;
	margin-left: 30px;
	margin-bottom: -58px;
	}

	.filter-sections h5{
<!--	width: 70%;-->
<!--	display: block;-->
<!--	overflow: hidden;-->
	margin-top: -70px;
	margin-left: 13px;
	}

	.filter-sections p{
	font-size: 16px;
	margin-top: -38px;
	}

	.filter-sections div {
	opacity: 0;
	display: none;
	min-height: 50px;
	margin: 0.5em;
	text-align: center;
<!--	padding: 5px 5px;-->
	float: left;
	/* transition: all 500s ease; */
	}

	.view {
	display: block !important;
	opacity: 1 !important;
	/* transform: scale(1) rotate(0deg); */
	border-radius:4px;
	/* animation: selected 300ms 1 ease-in-out; */
	}

	.res{
		color: white;
		font-size: 35px;
		position: absolute;
		top: 840px;
	}
		.row1{
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			justify-content: space-around;
		}

		.btn-primary{
		box-shadow:none !important;
		border: none;
		border-radius: 25px;
		margin-top: 5px;
		padding: 10px;
		background-color: #3B9C9C;
		width: 110px;


		}

		/*to remove bullet style*/
		ul{
			list-style-type: none;
		}
		.bgcart {
			background-color:none;
		}
		.bgcart:hover {
			background-color:none;
		}
		.cartimg {
			margin-top:-5px;
			margin-left: 150px;
			width: 55px;
		    height: 55px;
		    border-radius: 100px;
		}

	.image{
position: relative;
top:0px;
left: 500px;
}

.decor{
   position: absolute;
   top :120px;
   height : 200px;
   width:700px;
   border-radius: 10px;
   color: white;
   margin-left: 530px;
   font-size: 50px;
   padding: 15px;

}

.gif{
margin-left: 850px;
margin-top: -200px;
}

   .filter-sections {
width: 100%;
display: block;
overflow: hidden;
margin-left: 60px;
}

.filter-sections div {
opacity: 0;
display: none;
min-height: 50px;
margin: 0.5em;
text-align: center;
padding: 2em 1em;
float: left;
/* transition: all 500s ease; */
}

.view {
display: block !important;
opacity: 1 !important;
/* transform: scale(1) rotate(0deg); */
border-radius:4px;
/* animation: selected 300ms 1 ease-in-out; */
}

.product{
height: 310px;
width: 250px;
background-color:rgba(245, 245, 245, 0.753);
padding: 2px 2px;
color:rgb(0, 0, 0);
box-shadow: 4px;
font-size: 30px;
border-radius:10px;
/* box-shadow: rgb(0, 0, 0); */
box-shadow: 3px 2px rgba(0, 0, 0,0.3);
}
   .getmain{
margin-bottom: 5px;
   background-color:teal;
   height: 47px;
   width: 100px;
   font-size: 18px;
   border-radius: 10px;
color: white;
}

.order {
    background-color:none;
}
.order:hover {
    background-color:none;
    cursor: pointer;
}
.myorder {
    margin-top: -5px;
    margin-left: 30px;
    width: 85px;
    height: 65px;
}
.pickmeup {
 border: 2px;
 display: none;
 background-color: rgba(0,0,0,0.8);
 height: 600px;
 width: 1400px;
 border-radius: 10px;
 position: absolute;
 left: 60px;
 top: 100px;
 z-index: 9;
}
.checked {
 color: orange;
}
.staricon {
font-size:8px;
}
.ratings{
margin-top:-30px;
}
.prodname{
margin-top: 12px;
}
.cityname{
margin-top: -20px;
margin-bottom: -10px;
}
</style>
{%endblock%}
{%block body%}
<div class="image"><img src="{% static 'images/buying/blob.png' %}" height="210px" width="380px"></div>
	<div class="decor">
		<b>&nbsp;&nbsp;Categories</b></div>
   <div class="gif"><img src="{% static 'images/gif.gif' %}" height="180px" width="220px"></div><br>
      <div class="filter-sections" id="result">
   {% for key, d  in det.items %}
       <div class="product">
           <img src= "{{ d.url }}" width="100px" height="130px" style="border-radius:10px;"><br>
           <h5 class="prodname">{{ d.Product_name }}</h5><br>
           <p class="cityname" style="margin-top:-50px;"><i class="material-icons" style="color:teal">location_on</i> {{ d.city }}</p>
           <p style="margin-top:10px;">
               <span class="fa fa-star checked staricon"></span>
                <span class="fa fa-star checked staricon"></span>
                <span class="fa fa-star checked staricon"></span>
                <span class="fa fa-star staricon"></span>
               <span class="fa fa-star staricon"></span>
               </p>
           <a href="/mainpro/?z={{key}}"><button class="getmain"> Details</button></a>
       </div>
   {% endfor %}
</div>
<script>
	  var items = document.querySelectorAll('.filter-sections div');
        animate(items);

        // forech arrays
        function each(el, callback) {
            var allDivs = document.querySelectorAll(el),
                alltoArr = Array.prototype.slice.call(allDivs);
            Array.prototype.forEach.call(alltoArr, function (selector, index) {
                if (callback) return callback(selector);
            });q
        };
        // animate function
        function animate(item) {
            (function show(counter) {
                setTimeout(function () {
                    item[counter].classList.add('view');
                    counter++;
                    if (counter < item.length) show(counter);
                }, 50);
            })(0);
        };
</script>
{%endblock%}
