{% extends 'basic.html' %}

{% block title %} e-kisan {% endblock%}

{% load static %}
{% block css %}
    <link rel="icon" href="{% static 'images/mainlogo.png' %}" type="image/x-icon">

     <style>


    #foot{

   margin-top: 88%;
}
.container1{
   max-width: 100%;
   margin: auto;

}
.row1{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   justify-content: space-around;
}
.footer{
   position: absolute;
   left:0;
   background: #000;
   color: #8a8a8a;
   font-size: 14px;
   padding: 60px 0 10px;
}
.footer p{
   color:#8a8a8a;

}
.footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4
{
   min-width: 400px;
   height: 250px;
   margin-bottom: 20px;
}
.footer-col-1{
   flex-basis: 30%;
   margin-left: 30px;

}
.footer-col-1 img{
   width:150px;
   margin-left: 110px;
}
.footer-col-1 p{

   margin-left: 150px;
   color: #3B9C9C;
}
.footer-col-2{
   flex: 1;
   margin-left: 15px;

}
.footer-col-2 input{

   border: 1px solid #3B9C9C;
    padding: 10px;
    width: 77%;
    border-radius: 18px;
    background-color: black;
    color: #8a8a8a;
}

.footer-col-2 textarea{
   border: 1px solid #3B9C9C;
    border-radius: 18px;
    text-align: center;
    width: 77%;
    color: #8a8a8a;
    background-color: black;


}
.btn-primary{
box-shadow:none !important;
border: none;
border-radius: 25px;
margin-top: 5px;
padding: 10px;
background-color: #3B9C9C;
width: 110px;


}
.footer-col-3{
   flex-basis: 12%;
   margin-left: 30px;
   text-align: left;
}
.footer-col-3 .fa{

   margin-right: 8px;
   font-size: 25px;
   height: 40px;
   width:40px;
   text-align: center;
   padding-top: 7px;
   color: #3B9C9C;
   background-color:black;
}
/*to remove bullet style*/
ul{
   list-style-type: none;
}

.copyright{
   text-align: center;

}

/*----------social media--------------*/
.social-media{
  width: 100%;
  text-align: left;

}

.social-media ul{
  list-style: none;
}

.social-media ul li{
  display: inline-block;
  cursor: pointer;
}

.social-media img{
  width: 40px;
  height: 40px;
  border-radius: 35px;
}
.bgcart {
         background-color:none;
      }
      .bgcart:hover {
         background-color:none;
      }
      .cartimg {
         margin-top:-5px;
         margin-left: 150px;
         width: 55px;
          height: 55px;
          border-radius: 100px;
      }

      .main{
      margin-top: 60px;
      margin-left: 500px;
      }

      .main .noprobg{
      height: 300px;
      width: 350px;
      margin-left: 20px;
      }

      h1{
      margin-left: 50px;
      font-size: 37px;
      }

      button{
      margin-left: 140px;
      height: 50px;
      width: 100px;
      color: white;
      font-weight: bold;
      border-radius: 10px;
      }
  </style>
{%endblock%}
{% block body%}
<div class="main">

    <img src="{% static 'images/nopro.jpg' %}" class="noprobg" >
    <h1> Your Cart is empty</h1>
    <a href="/index/"> <button style="background-color: teal; border-radius:6px; width:140px; margin-left:140px" > Home Page</button> </a>
    <br><br><br><br><br>
</div>
{%endblock%}
