{% extends 'basic.html' %}
{% block title %} e-kisan {% endblock%}
{% load static %}
{% block css %}

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <style >
 .btn{

   background: #3B9C9C;
   color:#fff;

}
.btn:hover{
   background: black;

}
.column1 {
  float: left;
  width: 20%;
  padding: 20px;
  height: 85px;
  background-color:#aaa;
}
.column2 {
  float: left;
  width: 80%;
  text-align: center;
  height: 85px;
  font-size: 22px;
  background-color:#D1D0CE;
}
.checked {
 color: orange;
}
.staricon {
font-size:15px;
}
.ratings{
margin-top:-30px;
}
.prodname{
margin-top: 12px;
}
.cityname{
margin-top: -20px;
margin-bottom: -10px;
}
  </style>
{%endblock%}
{% block body%}
   <br>
   <br>
   <br>
<!-- <div class="container border border-dark "> -->
<div class="container border border-black  ">
  <div class="row border border-black ">
    <div class="col  border border-black pt-5">
       <center>
      <img src="{{ url }}" width="100%" class="mt-5" >
      </center>
    </div>
    <div class="col  border border-black">
             <p>Product Name</p>
         <h1>{{ proname }}</h1>

         <p>Price:</p><h4>₹{{ amount }}</h4>

            <p>Max Quantity:</p><h4> {{ quantity }} </h4>
<p>Ratings:
            <span class="fa fa-star checked staricon"></span>
            <span class="fa fa-star checked staricon"></span>
            <span class="fa fa-star checked staricon"></span>
            <span class="fa fa-star staricon"></span>
            <span class="fa fa-star staricon"></span>
         </p>
         <form id="myform" method="post" action="/addtocart/?z={{uid}}">
             {% csrf_token %}
            <p>Quantity:</p><input type="number" value="1" name="req"  min="1" max="{{ quantity }}" required >kg

            <!-- <button>Add to cart</button> -->
            <div id="div1" class="show"><br>
               <input type="submit" onclick="/addtocart/" class="btn" value="Add to cart">
            </div>
         </form>
         <script>
         document.getElementById("sub").onclick = function() {
            document.getElementById("myform").submit();
         }
         </script>

         <h3>Farmer details<i class="fa fa-indent"></i></h3><br>
         <div class="column1">
            <img width="70px" src="{% static 'images/productdetail/avtar1.png'%}" >

         </div>

         <div class="column2" >
            <p><b>Farmer Name:</b><br>{{ fname }}<br></p>
         </div>
    </div>
  </div>

</div>
{%endblock%}
