{% extends 'basic.html' %}

{% block title %} Magazines {% endblock%}

{% load static %}
{% block css%}
<style>
     a{
     color:black;
     }
     .block-popup1 {
        border: 2px;
        display: none;
        background-color: #adfdf0;
        height: 250px;
        width: 900px;
        border-radius: 10px;
        position: absolute;
        right: 80px;
        top: 100px;
        z-index: 9;
    }
     .block-popup2 {
        border: 2px;
        display: none;
        background-color: #adfdf0;
        height: 250px;
        width: 900px;
        border-radius: 10px;
        position: absolute;
        right: 80px;
        top: 100px;
        z-index: 9;
    }
     .block-popup3 {
        border: 2px;
        display: none;
        background-color: #adfdf0;
        height: 250px;
        width: 900px;
        border-radius: 10px;
        position: absolute;
        right: 80px;
        top: 100px;
        z-index: 9;
    }
 .btn-cancel {
        background-color: #fff;
        margin-left: 810px;
        margin-top: 20px;
        width: 20px;
        height: 20px;
    }
</style>
{%endblock%}
{% block body %}

<div class="m-2">
    <div class="row">
        <div class="col-4 ">
            <center>
                <img class="mt-5" src="{% static 'images/prog/em.jpg' %}" width="400px" height="300px">
            </center>
        </div>
        <div class="col ">
            <div class="card bg-info text-white">
                <div class="card-body">
                    <center>
                        <img src="{% static 'images/prog/bulb2.png' %}" width="70px" height="90px">
                        <u>
                            <font size="7" class="font-weight-bold font-italic" style="font-color:#708238;">Programmes
                                and Schemes</font>
                        </u>
                        <img src="{% static 'images/prog/bulb2.png' %}" width="70px" height="90px"><br><br>
                        <h4>
                            <a class="text-light" href="https://pmksy.gov.in">◑ Pradhan Mantri Krishi Sinchayee
                                Yojana</a><br><br>
                            <a class="text-light" href="https://pmfby.gov.in/">◑ Pradhan Mantri Fasal Bima
                                Yojanar</a><br><br>
                            <a class="text-light" href="https://pgsindia-ncof.gov.in ">◑ Paramparagat Krishi Vikas
                                Yojana (PKVY)</a><br><br>
                            <a class="text-light" href="http://pmkmy.gov.in/">◑ Pradhan Mantri Kisan Samman Nidhi
                            </a><br><br>
                            <a class="text-light" href="http://pmkisan.gov.in">◑ Pradhan Mantri Kisan Samman Nidhi
                            </a><br><br>
                            <a class="text-light" href="https://soilhealth.dac.gov.in/">◑ Soil Health card</a><br><br>
                            <a class="text-light" href="http://dahd.nic.in/">◑ Aminal Husbandry</a><br><br>
                        </h4>
                    </center>
                </div>
            </div>
        </div>

    </div>
    <div class="row pt-5">
        <div class="col ">
            <div class="card bg-info text-white" style="height:400px">
                <div class="card-body">
                    <div class="container">
                        <center>
                            <img src="{% static 'images/prog/book.png' %}" width="70px" height="90px">
                            <font size="7" class="doubleUnderline" style="font-color:#708238;">Magazines & Guides</font>
                            <img src="{% static 'images/prog/book.png' %}" width="70px" height="90px"><br><br>

                        <div class="row">
                            <div class="col-4">
                                <div class="card " style="width: 140px;">
                                    <div class="card-body" >
                                <button class="classbutton bg-white border-0" onclick="marathi()"> मराठी </button>
                                </div></div>
                            </div>
                            <div class="col-4">
                                <div class="card " style="width: 140px;">
                                    <div class="card-body">
                                <button class="classbutton bg-white border-0" onclick="hindi()"> हिंदी </button>
                                </div></div>
                            </div>
                            <div class="col-4">
                                <div class="card " style="width: 140px;">
                                    <div class="card-body">
                                <button class="classbutton bg-white border-0" onclick="english()"> English </button>
                                </div></div>
                            </div>
                        </div>
                        <div class="block-popup1" id="Marathi">
                    <button type="button" class="btn-cancel" onclick="closeForm1()">&times;</button>
                    <table border="0" cellpadding="10">
                        <tr>

                            <td>

                                <a href="http://krishi.maharashtra.gov.in/Site/Upload/Pdf/Publications/201901.pdf">
                                    <div class="card " style="width: 140px;">
                                    <div class="card-body" >
                                    <div class="pdfbox" style="color:black">
                                        जानेवारी२०१९
                                    </div></div></div>
                                </a>

                            </td>
                            <td>

                                <a href="http://krishi.maharashtra.gov.in/Site/Upload/Pdf/Publications/201902.pdf">
                                    <div class="card " style="width: 140px;">
                                    <div class="card-body" >
                                    <div class="pdfbox" style="color:black">
                                        फेब्रुवारी २०१९
                                    </div></div></div>
                                </a>

                            </td>
                            <td>

                                <a href="http://krishi.maharashtra.gov.in/Site/Upload/Pdf/Publications/201903.pdf"><div class="card " style="width: 140px;">
                                    <div class="card-body" >
                                    <div class="pdfbox" style="color:black">
                                        मार्च २०१९
                                    </div> </div></div>
                                </a>

                            </td>
                            <td>

                                <a href="http://krishi.maharashtra.gov.in/Site/Upload/Pdf/Publications/201904.pdf"><div class="card " style="width: 140px;">
                                    <div class="card-body" >
                                    <div class="pdfbox" style="color:black">
                                        एप्रिल २०१९
                                    </div></div></div>
                                </a>
                            </td>
                            <td>

                                <a href="http://krishi.maharashtra.gov.in/Site/Upload/Pdf/Publications/201905.pdf"><div class="card " style="width: 140px;">
                                    <div class="card-body" >
                                    <div class="pdfbox" style="color:black">
                                        मे २०१९
                                    </div></div></div>
                                </a>
                            </td>


                        </tr>
                        <tr>
                            <td>

                                <a href="http://krishi.maharashtra.gov.in/Site/Upload/Pdf/Publications/201907.pdf"><div class="card " style="width: 140px;">
                                    <div class="card-body" >
                                    <div class="pdfbox" style="color:black">
                                        जुलै २०१९
                                    </div></div></div>
                                </a>
                            </td>
                            <td><a href="http://krishi.maharashtra.gov.in/Site/Upload/Pdf/Publications/201908.pdf">
                                <div class="card " style="width: 140px;">
                                    <div class="card-body" >
                                    <div class="pdfbox" style="color:black">
                                        ऑगस्ट २०१९
                                    </div></div></div>
                                </a>
                            </td>
                            <td><a href="http://krishi.maharashtra.gov.in/Site/Upload/Pdf/Publications/201909.pdf">
                                <div class="card " style="width: 140px;">
                                    <div class="card-body" >
                                    <div class="pdfbox" style="color:black">
                                        सप्टेंबर २०१९
                                    </div></div>
                                </div>
                                </a>
                            </td>


                            <td><a href="http://krishi.maharashtra.gov.in/Site/Upload/Pdf/Publications/201911.pdf">
                                <div class="card " style="width: 140px;">
                                    <div class="card-body" >
                                    <div class="pdfbox" style="color:black">
                                        नोव्हेंबर २०१९
                                    </div></div></div>
                                </a>
                            </td>
                            <td><a href="http://krishi.maharashtra.gov.in/Site/Upload/Pdf/Publications/201912.pdf">
                                <div class="card " style="width: 140px;">
                                    <div class="card-body" >
                                    <div class="pdfbox" style="color:black">
                                        डिसेंबर २०१९
                                    </div></div></div>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="block-popup2" id="Hindi">
                    <button type="button" class="btn-cancel" onclick="closeForm2()">&times;</button>
                    <table border="0" cellpadding="10">
                        <tr>

                            <td><a href="http://krishi.maharashtra.gov.in/Site/Upload/Pdf/Publications/201901.pdf">
                                <div class="card " style="width: 140px;">
                                    <div class="card-body" >
                                    <div class="pdfbox" style="color:black">
                                        जानेवारी २०१९
                                    </div></div></div>
                                </a>
                            </td>
                            <td><a href="http://krishi.maharashtra.gov.in/Site/Upload/Pdf/Publications/201902.pdf">
                                <div class="card " style="width: 140px;">
                                    <div class="card-body" >
                                    <div class="pdfbox" style="color:black">
                                        फेब्रुवारी २०१९
                                    </div></div></div>
                                </a>
                            </td>
                            <td><a href="http://krishi.maharashtra.gov.in/Site/Upload/Pdf/Publications/201903.pdf">
                                <div class="card " style="width: 140px;">
                                    <div class="card-body" >
                                    <div class="pdfbox" style="color:black">
                                        मार्च २०१९
                                    </div></div></div>
                                </a>
                            </td></a>
                            <td><a href="http://krishi.maharashtra.gov.in/Site/Upload/Pdf/Publications/201904.pdf">
                                <div class="card " style="width: 140px;">
                                    <div class="card-body" >
                                    <div class="pdfbox" style="color:black">
                                        एप्रिल २०१९
                                    </div></div></div>

                                </a>
                            </td>
                            <td><a href="http://krishi.maharashtra.gov.in/Site/Upload/Pdf/Publications/201905.pdf">
                                <div class="card " style="width: 140px;">
                                    <div class="card-body" >
                                    <div class="pdfbox" style="color:black">
                                        मे २०१९
                                    </div></div></div>
                                </a>
                            </td>


                        </tr>
                        <tr>
                            <td><a href="http://krishi.maharashtra.gov.in/Site/Upload/Pdf/Publications/201907.pdf">
                                <div class="card " style="width: 140px;">
                                    <div class="card-body" >
                                    <div class="pdfbox" style="color:black">
                                        जुलै २०१९
                                    </div></div></div>
                                </a>
                            </td>
                            <td><a href="http://krishi.maharashtra.gov.in/Site/Upload/Pdf/Publications/201908.pdf">
                                <div class="card " style="width: 140px;">
                                    <div class="card-body" >
                                    <div class="pdfbox" style="color:black">
                                        ऑगस्ट २०१९
                                    </div></div></div>
                                </a>
                            </td>
                            <td><a href="http://krishi.maharashtra.gov.in/Site/Upload/Pdf/Publications/201909.pdf">
                                <div class="card " style="width: 140px;">
                                    <div class="card-body" >
                                    <div class="pdfbox" style="color:black">
                                        सप्टेंबर २०१९
                                    </div></div></div>
                                </a>
                            </td>
                            <td><a href="http://krishi.maharashtra.gov.in/Site/Upload/Pdf/Publications/201911.pdf">
                                <div class="card " style="width: 140px;">
                                    <div class="card-body" >
                                    <div class="pdfbox" style="color:black">
                                        नोव्हेंबर २०१९
                                    </div></div></div>
                                </a>
                            </td>
                            <td><a href="http://krishi.maharashtra.gov.in/Site/Upload/Pdf/Publications/201912.pdf">
                                <div class="card " style="width: 140px;">
                                    <div class="card-body" >
                                    <div class="pdfbox" style="color:black">
                                        डिसेंबर २०१९
                                    </div></div></div>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="block-popup3" id="English">
                    <button type="button" class="btn-cancel" onclick="closeForm3()">&times;</button>
                    <table border="0" cellpadding="10">
                        <tr>
                            <td>
                                <div class="pdfbox" style="color:black">
                                    <a href="http://krishi.maharashtra.gov.in/Site/Upload/Pdf/Publications/april%202021.pdf">
                                        <div class="card " style="width: 140px;">
                                    <div class="card-body" style="color:black" >
                                        April 2021
                                    </div></div>
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class="pdfbox" style="color:black">
                                    <a
                                        href="http://krishi.maharashtra.gov.in/Site/Upload/Pdf/Publications/march%202021.pdf">
                                        <div class="card " style="width: 140px;">
                                    <div class="card-body" style="color:black" >
                                        March 2021
                                    </div></div></a>
                                </div>
                            </td>
                            <td>
                                <div class="pdfbox" style="color:black">
                                    <a href="http://krishi.maharashtra.gov.in/Site/Upload/Pdf/Publications/january-2021%20shetkari%20mashil%20final.pdf">
                                        <div class="card " style="width: 140px;">
                                    <div class="card-body" style="color:black" >
                                        January2021</div></div></a>
                                </div>
                            </td>
                            <td>
                                <div class="pdfbox" style="color:black">
                                    <a
                                        href="http://krishi.maharashtra.gov.in/Site/Upload/Pdf/Publications/ilovepdf_merged%20(3).pdf">
                                        <div class="card " style="width: 140px;">
                                    <div class="card-body" style="color:black" >
                                        February2021
                                    </div></div>

                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class="pdfbox" style="color:black">
                                    <a href="http://krishi.maharashtra.gov.in/Site/Upload/Pdf/Publications/Shetakari%20Masik_202001.pdf">
                                        <div class="card " style="width: 140px;">
                                    <div class="card-body" style="color:black" >
                                        January2020
                                    </div></div></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="pdfbox" style="color:black">
                                    <a href="http://krishi.maharashtra.gov.in/Site/Upload/Pdf/Publications/202002.pdf">
                                        <div class="card " style="width: 140px;">
                                    <div class="card-body" style="color:black" >February2020</div></div></a>
                                </div>
                            </td>
                            <td>
                                <div class="pdfbox" style="color:black">
                                    <a href="http://krishi.maharashtra.gov.in/Site/Upload/Pdf/Publications/202003.pdf"><div class="card " style="width: 140px;">
                                    <div class="card-body" style="color:black" >
                                        March 2020</div></div></a>
                                </div>
                            </td>
                            <td>
                                <div class="pdfbox" style="color:black">
                                    <a href="http://krishi.maharashtra.gov.in/Site/Upload/Pdf/Publications/202004.pdf">
                                        <div class="card " style="width: 140px;">
                                    <div class="card-body" style="color:black" >
                                        April 2020</div></div></a>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                    </center>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-4">
            <center>
                <img src="{% static 'images/prog/happy.png' %}" width="400px" height="300px">
             </center>
        </div>

    </div>
</div>
<script>
    function marathi() {
        document.getElementById("Marathi").style.display = "block";
    }
    function hindi() {
        document.getElementById("Hindi").style.display = "block";
    }
    function closeForm1() {
        document.getElementById("Marathi").style.display = "none";
    }
    function closeForm2() {
        document.getElementById("Hindi").style.display = "none";
    }

    function english() {
        document.getElementById("English").style.display = "block";
    }
    function closeForm3() {
        document.getElementById("English").style.display = "none";
    }
</script>

{% endblock%}
